<link rel="stylesheet" href="/assets/mainpage.css" type="text/css">

<div class="row parallax">
        <div class="col-xs-12">
                <div class="col-sm-6">
                    <div class="main-text">
                        <h2 class="sans-serif">Introducing Clowder:<br>
                        A mobile app that facilitates chaotic, realtime social events</h2>
                        <h4 class="sans-serif">With Clowder, anyone can create a moving social event that lets you communicate status, multiple locations and spur-of-the-moment changes as your group migrates or your plan mutates over the course of the event.</h4>
                        <div id="fb-btn">
                        <%= link_to 'Sign up with Facebook!', '/auth/facebook', class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="phone-image centerBlock"><br>
                        <img salt="Rails" src="/assets/device_white_720.png" width="50%" class="p-image">
                    </div>
                </div>
    </div>
</div>
   

