
body {
    color: #f8f8f8 ;
    font-family: 'Coming Soon', sans-serif;
}

h1, h2 {
    color: #ffffff ;
}

h3 {
    text-transform: uppercase;
}

.event-title {
    margin-bottom: -10px;
}

h1.event-title {
    color: white;
}
h3.event-title {
    color: white;
}

.navbar {
    margin-top: 19px;
    border-radius: 0px;
    border: 0px;
    -webkit-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.75);
}

.navbar-default .navbar-brand {
    color: #330099 ;
}

.navbar-brand small {
    color: #777;
}

.event {
    height: 100px;
}

h4.event-end {
    vertical-align: middle;
    line-height: 100px;
    margin: 0px;
}

.circle {
    border-radius: 100%;
    border: solid 5px #ffffff ;
    width: 30px;
    height: 30px;
    margin: auto;
    cursor: pionter;
}

.connector-top {
    height: 35px;
    width: 5px;
    margin: auto;
    background-color: #ffffff ;
}

.connector-bot {
    height: 35px;
    width: 5px;
    margin: auto;
    background-color: #ffffff ;
    margin-top: 0px;
}

.filled {
    background-color: #ffffff ;
}

@media (min-width: 768px)
.navbar {
   border-radius: 0px;
}

h2.sans-serif, h3.sans-serif, h4.sans-serif {
    font-family: helvetica;
    letter-spacing: 1px;
    text-shadow: 2px 2px 10px #000000 ;
    padding: 30px;
    text-transform: none;
    line-height: 30px;
}

.features {
    background-color: #f8f8f8;
    font-family: helvetica;
    color:  #330099 ;
    margin-top: 50px;
}

.main-text {
    display: inline-block;
}

.phone-image {
    text-align: middle;
    width: 100%;
    margin-bottom: 20px;
}

@media(max-width: 800px) {
    .phone-image img {
        width: 300px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.p-image {
    display: block;
    margin: 0 auto;
}

body {
  background-color: "#f8f8f8"
}

#fb-btn {
    margin-left: 25px;
}

#big-it-text {
    font-size: 24px;
}

.form-group label {
    color: #777;
}